.mainContainer {
  width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    background-color: #673AB7;
    /* padding: 20px; */
    border-radius: 10px;
    padding-top: 20px;
    z-index: 1;
    align-items: center;
    color: white;
}

.title,
.subTitle {
  text-align: center;
}
.subTitle {
  margin-top: 20px;
  font-size: 30px;
}
.link {
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  color: white;
  background-color: #5a5dff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: #5CD3A8;
}