.title {
  text-align: center;
  background-color: #5a5dff;
  padding: 20px;
  color: white;
}
.link {
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  color: white;
  background-color: #5a5dff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.link:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: #5CD3A8;
}